@font-face {
	font-family: "customIcon";
	src: url("customIcon.ttf?5183c9bd0f9946426f4b8c5675fa7924") format("truetype");
}

._icon {
	font-family: customIcon !important;
	font-style: normal;
	font-weight: normal !important;
	line-height: 1;
	vertical-align: middle;
}